@model NN_Inmuebles.Models.Casa

@{
    ViewData["Title"] = "Casas";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Editar</title>
</head>
<body>

<h1 class="text-center">Casa</h1>
<hr />
<div class="row RowCenter">
    <div class="col-md-4 RowCreate p-2">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CasaID" />
            <div class="form-group">
                <label asp-for="NombreCasa" class="control-label"></label>
                <input asp-for="NombreCasa" class="form-control" />
                <span asp-validation-for="NombreCasa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Domicilio" class="control-label"></label>
                <input asp-for="Domicilio" class="form-control" />
                <span asp-validation-for="Domicilio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreDueño" class="control-label"></label>
                <input asp-for="NombreDueño" class="form-control" />
                <span asp-validation-for="NombreDueño" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagenCasa" class="control-label"></label>
                <input asp-for="ImagenCasa" class="form-control" type="file"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary mt-2" />
                <a class="btn btn-danger mt-2 ms-2" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
