@model NN_Inmuebles.Models.Cliente

@{
    ViewData["Title"] = "Clientes";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>
</head>
<body>

<h1 class="text-center">Cliente</h1>
<hr />
<div class="row RowCenter">
    <div class="col-md-4 RowCreate p-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreCliente" class="control-label"></label>
                <input asp-for="NombreCliente" class="form-control" />
                <span asp-validation-for="NombreCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidoCliente" class="control-label"></label>
                <input asp-for="ApellidoCliente" class="form-control" />
                <span asp-validation-for="ApellidoCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DNI" class="control-label"></label>
                <input asp-for="DNI" class="form-control" />
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary mt-2" />
                <a class="btn btn-danger mt-2 ms-2" asp-action="Index">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>
